.explore {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore p {
    color: white;
    font-size: 30px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.image-box {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.text-box {
    margin-top: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    background-color: #A99B9B;
    border-radius: 10%;
    font-size: 20px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.black-box {
    margin-top: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    background-color: #A99B9B;
    border-radius: 10%;
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

    .image-box img{
        width: 100%;
        height: auto;
        object-fit: cover;
        font-size: 0;
    }

    .text-box p{
        font-size: 50px;
        padding: 2px;
        color: white;
    }
    
    .text-box h1{
        font-size: 50px;
        color: white;
        text-decoration: underline;
    }

    
    .black-box {
        margin-top: 10px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        background-color: #A99B9B;
        border-radius: 10%;
        font-size: 20px;
    }

}




